.full-image {
  width: 30%;
  margin: auto;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('https://i.imgur.com/G7MEwRL.jpg');
  background-repeat: no-repeat;
  opacity: .8;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 14px 1px #0c0a0a;
  border: 2px solid #11fadb;
  border-radius: 7px;
}

.image-back {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 800;
  &:hover {
    transition: .5s;
    color: red;
  }
}

.image-name {
  color: white;
}

.full-picture {
  width: 100%
}